<html lang="en">
<body>
  <!-- <img src="../pickawood-gf8e6XvG_3E-unsplash.jpg" class="img"> -->
  <div class="center">
    <h1>Upload File</h1>
    <form class="col s12 white">
      
      <div class="">
        <input type="file"  (change)="fileUpload($event)">
        <span></span>
      </div>
      <div *ngIf="errorMessage" style="color: red;">
        Please Upload Excel file
    </div>
      <input type="submit" value="UploadExcel" (click)="OnSubmit()" multiple><br>
    </form>
    
  </div>
  <button class="edit" (click)="onChange($event)" value="DISPLAY">View Data</button><br>
  <button class="print" printTitle="Naveen Data" printSectionId="print-section"  ngxPrint>print</button>
  <div class="container" id="print-section" *ngIf="display">
    <h4 style="color: green;">Excel Data</h4>
    <table class="table table-bordered table-striped">
      <tr>
        <th>Name</th>
        <th>PhoneNumber</th>
      </tr>
      <tbody>
        <tr class="data" *ngFor="let getData of uploadDataService.list; let i=index">
          <td>{{getData.name}}</td>
          <td>{{getData.phoneNumber}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>